*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 50px;
    padding: 30px;
}
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}
nav,.nav_links{
    display: flex;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88px;
    }
    
    ul .liborder{
        border-right: 1px solid black;
    }
    ul li{
        padding: 0px 10px;
    }
    .nav_links{
        list-style: none;
        font-size: 1rem;
        }
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        color: grey;
    }
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
    }
    .section_container{
        display: flex;
        width: 30rem;
       padding-right: 1.5rem;
    }
    img{
        height: 30rem;
        width: 50rem;
        border-radius: 50%;
        padding: 40px;
       
    }
    .section_text{
        padding-right:  10rem ;
        text-align: left;
        width: 25rem;
        height: 20rem;
    }
#home_content_h1{
    font-size: 4rem;
}

.home_content_ul{
    list-style: none;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 15px;
    padding-bottom: 1rem;
    width: 20rem;
    height: 7rem;
    top: 631px;
    left: 777px;
   
}
.btn-cv{
    text-decoration: none;
    padding: 30px;
    background: #EEA302;
    border: 1px solid #593E03;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.btn-projets{
    text-decoration: none;
    padding: 30px 15px;
    background: #E13B25;
    border: 1px solid #593E03;
    border-radius: 50%;
    width: 15px;
    height: 10px;
}
.btn-contact{
    text-decoration: none;
    padding: 30px 15px;
    background: #80D8DA;
    border: 1px solid#593E03 ;
    border-radius: 50%;
    width: 15px;
    height: 10px;
}
footer{
    border-top: 1px solid rgba( 218, 211, 211, 0.903);
   writing-mode: horizontal-tb;
    justify-content: space-around;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 10px;
    margin-top: 50px;
}
.footer-col h4 {
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
#copyright{
    text-align: right;
}

/* cv */

#h1-cv{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
#main-cv{
   /* margin: 5rem;*/
   padding: 100px;
}
.section-h3{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.head-h4-cv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.head-p-ul{
   padding: 1.5rem;
   line-height: 1.8rem;
}