*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 50px;
    padding: 30px;
}
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}
nav,.nav_links{
    display: flex;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    }
    
    ul .liborder{
        border-right: 1px solid black;
    }
    ul li{
        padding: 0px 10px;
    }
    .nav_links{
        list-style: none;
        font-size: 1rem;
        }
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        color: grey;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:  30px;
        padding: 20% ;
        }
        
    img{
        border-radius: 50%;
        width: 384px;
        height: 384px;
       
    }

.home{
    align-items: center;
    display: flex;
    align-items: center;
    
    
}
 .home_content{
    align-items: center;
    width: 480px;
    height: 452px;
    top: 299px;
    left: 777px;
    margin: 6rem;

    }
#home_content_h1{
    font-size: 32px;
}
footer{
     border-block-start: solid; 
    writing-mode: horizontal-tb;
     justify-content: space-around;
}
.home_content_ul{
    list-style: none;
    padding: 0px 5px;
    justify-content: space-between;
    align-items: center;
}
.btn-cv{
    text-decoration: none;
    padding: 30px;
    background: #EEA302;
    border: 1px solid #593E03;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 10px;
    width: 300px;
    height: 50px;
    top: 631px;
    left: 777px;
   
}
.btn-projects{
    text-decoration: none;
    padding: 30px 8px;
    background: #E13B25;
    border: 1px solid #593E03;
    border-radius: 50%;
    width: 15px;
    height: 10px;
}
.btn-contact{
    text-decoration: none;
    padding: 30px 8px;
    background: #80D8DA;
    border: 1px solid#593E03 ;
    border-radius: 50%;
    width: 15px;
    height: 10px;
}
.container{
    max-width: 1170px;
    background-color: white;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    margin-top: 50px;
}
.footer-co h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer-co{
    padding: 0 15px;
    margin-top: 50px;
}